<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h2>Create a New Listing</h2>
    <form method="POST" action="/listings" class="needs-validation" novalidate>
      
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" id="title" class="form-control" placeholder="Title" required>
        <div class="invalid-feedback">Please provide a title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" id="description" class="form-control" placeholder="Description" required></textarea>
        <div class="invalid-feedback">Please provide a description.</div>
      </div>

      <div class="mb-3">
        <label for="image-url" class="form-label">Image URL</label>
        <input type="url" name="listing[image]" id="image-url" class="form-control" placeholder="Image URL">
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" id="location" class="form-control" required>
          <div class="invalid-feedback">Please provide a location.</div>
        </div>
        <div class="mb-3 col-6">
          <label for="country" class="form-label">Country</label>
          <input type="text" name="listing[country]" id="country" class="form-control" required>
          <div class="invalid-feedback">Please provide a country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" id="price" class="form-control" required>
        <div class="invalid-feedback">Please provide a price.</div>
      </div>

      <button type="submit" class="btn btn-dark">Add Listing</button>
    </form>
  </div>
</div>
